<<<<<<< HEAD
*{
 margin: 0;
 /* background-color:whitesmoke; */
 font-family: winky;   
}

body{
    padding-bottom: 4rem;
}
winky-sans {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


.intro, .fit-header{
    background-color: yellowgreen;
    font-size:bold ;
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    text-align: center;
    color: white;
    padding: 3px 3px;
}

.pre-content{
    padding: 3px 3px; font-size:bold ;
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    text-align: center;
    color: yellowgreen;
    padding: 3px 3px;
}

/* this is where i styled the vegetarian meals */
.vegetarian{
    text-align: center;
}

.vegetarian h2{
    border-bottom: solid yellowgreen;
    text-align: center;
}

/* this div contains all the images in the veg section */
 .veg-overall{
    max-height: fit-content;  
    margin: 2rem;
    margin-bottom: 5rem;
    background-color:rgb(192, 216, 143) ; 
    border-radius: 5px;
    border: solid 2px whitesmoke; 
    
     


} 
/* styling the div in veg that contains the food aND WRITEUP */
.first, .second{
    box-sizing: content-box;
    border-radius:6px ;
    /* background-color: yellowgreen; */
    border-color: yellowgreen solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    

}

.veg-content{

    background-color:white;
    border-radius: solid 2px yellowgreen;
    margin: 2rem;
    align-items: center;
    /* display: grid; */
    /* padding-top: 1rem; */
    width: 18rem;
}


span{
    display: flex;
    justify-content: space-around;
    gap: .5rem;
    text-transform: initial;
    padding-top: 1rem;
    background-color: rgb(206, 203, 203);
    padding: 10px;
}
.veg-content img{
    width:18rem;
    height: 15rem;
    
}

/* the image div */



/* button and hover */
button{
   padding: .7rem;
    background-color: rgb(128, 172, 42);
    color: white;
    font-size:18px ;
    border: none;
    cursor: pointer;
}

button:hover{
    color: yellowgreen;
    background-color: black;
}

/* the main */

/* fitness section */

.fit-intro{
    display: flex;
    justify-content: space-around;

}

.fit-intro img{
    height: 40rem;
    padding-left: 1.5rem;
    
}

/* fit images */
.fitness-images img{
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
}

.fit-header{
    margin-top: 2rem;
    margin-bottom: .5rem;
}


#fitness h2{
    text-align: center;
    text-transform: capitalize;
}

.fitness-food{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
    row-gap: 4rem;
    column-gap: 2rem;
    max-height: fit-content;  
    margin: 2rem;
    margin-bottom: 5rem;
    background-color:rgb(192, 216, 143) ; 
    border-radius: 5px;
    border: solid 2px whitesmoke;
    padding-top: 2rem;
}
.fitness-images{
    border:  solid 2px yellowgreen;
    padding: 5px;
    border-radius:10px ;
    background-color: white;
    position: relative;
}

/* this section is for the food to be cooked
it will display when you click the button */

.hidden-content{
    width:40vw;
   min-height: 30vh;
    background-color: yellowgreen;
    color: wheat;
    padding: 5px 10px;
    font-size:large;
    font-weight: 700;
    z-index: 100;
    position: fixed;
}


#vegetarian h2{
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    scale: 1.2;
    margin: 2rem;
    color: yellowgreen;
}




/* hidden section */
#modal{
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translate(-50px -50px);
    width: 60%;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    animation-name: animatemodal;
    animation-duration: .4s;
}

#close-btn{
    font-size: 3rem;
}

#close-btn:hover{
    font-size: 3rem;
    cursor: pointer;
    color: red;
}

#modal-container{
    /* display: none; */
    position: fixed;
    top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 1;
  background-color: rgba(0, 0, 0 , .2);
   visibility: hidden;
}

/* animatio section */
@keyframes animatemodal{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;


    }
}






/* hiddden section ends */

=======
body{
    background-color: whitesmoke;
}

.logo{
    text-align: center;
   overflow: hidden;
}

.logo img{
border-radius: 20rem;
}
>>>>>>> 574f7017d87b30d715a459941dfb6c3b4b82b29c
